/* =============
/ noProfile Page
/ =============*/
.noProfileJobSeeker {
  min-height: 64%; /* 64% of body height which is the viewport height */
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noProfileHeading {
  font-size: 70px;
  font-weight: light;
}

.noProfileText {
  font-size: 40px;
  font-weight: lighter;
}

.createProfileButton {
  color: white;
  background-color: #011036;
  font-size: 30px;
  border-radius: 0.3em;
  padding: 0.3em 3em;
}

.noProfileHeading,
.noProfileText {
  position: relative;
  bottom: 10%;
}

/* ====================
/ completedProfile Page
/ ====================*/
.completedProfileJobSeeker {
  max-height: 160%; /* 100% of body height which is the viewport height */
  width: 90%;
  flex-shrink: 0;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}

.savePrintResumeContainer {
  height: 6%;
  display: flex;
  justify-content: flex-end;
  gap: 2%;
  align-items: center;
}

.savePrintResumeButton {
  height: 60%;
  color: white;
  background-color: #011036;
  font-size: 18px;
  border-radius: 0.5em;
  padding: 0.3em 2em;
}

.completedProfileJobSeekerBottom {
  min-height: 90%;
  display: flex;
  justify-content: space-between;
}

.resume {
  width: 74%;
  overflow: auto;
}

/* ============
/ Resume Banner
/ ============*/
.resumeBanner {
  height: 20%;
  width: 100%;
  flex-shrink: 0;
  position: relative;
  background-color: #fec501;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editProfileButton {
  width: 18%;
  font-size: 18px;
  border-radius: 0.3em;
  background-color: white;
  position: absolute;
  top: 4%;
  right: 2%;
  border-width: thin;
}

.bannerContents {
  height: 50%;
  width: 80%;
  display: flex;
  align-items: center;
}

.bannerPhoto {
  height: 100%;
  width: 20%;
  border: thin solid black;
}

.bannerText {
  height: 80%;
  padding-left: 3%;
  display: grid;
  grid-template-rows: 33% 33% 33%;
  gap: 10%;
  align-items: center;
  justify-content: start;
}

.bannerName {
  font-size: 34px;
  font-weight: bold;
}

.bannerAspirations {
  font-size: 24px;
}

.bannerBrandStatement {
  font-size: 18px;
  line-height: 100%;
}

/* ==========
/ Resume Main
/ ==========*/
.resumeMain {
  display: grid;
  /* grid-template-rows: 25% 35% 40%; */
  grid-template-rows: minmax(0, 25%) auto auto;
  grid-template-columns: 50% 50%;
}

/* ===============
/ Resume Skillsets
/ ===============*/
.resumeSkillsets {
  grid-column: 1 / 3;
  padding: 1%;
  border: 2px solid #fec501;
  border-top: none;
  display: flex;
  flex-direction: column;
}

.skillsetsTitle {
  max-height: 30%;
  font-size: 30px;
  font-weight: bold;
  padding-top: 1%;
  padding-left: 3%;
  margin-bottom: 0.4%;
  display: flex;
  align-items: center;
}

.skillsets {
  flex: 1;
}

.skillsetsCards {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
}

/* =====================================
/ Resume Ability Differences Description
/ =====================================*/
.resumeAbilityDifferences {
  grid-column: 1 / 3;
  border: 2px solid #fec501;
  border-top: none;
  display: grid;
  grid-template-rows: 18% 41% 41%;
  grid-template-columns: 50% 50%;
}

.abilityDifferencesTitle {
  font-size: 30px;
  font-weight: bold;
  grid-column: 1 / 3;
  padding-top: 1%;
  padding-left: 3%;
  margin: 0;
  display: flex;
  align-items: center;
}

.abilityDifferencesIconsAndDescription {
  grid-column: 1 / 3;
  display: flex;
}

.abilityDifferencesIcons {
  height: 100%;
  min-width: 30%;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.abilityDifferencesIcon {
  height: 45%;
  width: 30%;
  border: thin solid #797676;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.abilityDifferencesImage {
  max-height: 40%;
  position: relative;
  bottom: 7%;
}

.abilityDifferencesName {
  height: 20%;
  font-size: 16px;
  margin-bottom: 0;
}

.abilityDifferencesDescription {
  padding: 2%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

/* =================================
/ Resume Ability Differences Support
/ ================================*/

.abilityDifferencesSupport {
  padding: 4%;
  font-size: 16px;
  overflow: auto;
}

.supportRequiredTypeWords {
  position: relative;
  right: 1%;
  font-weight: bold;
}

.abilityDifferencesExtraInfo {
  padding: 4%;
  font-size: 16px;
  overflow: auto;
}

.supportRequiredTravel {
  position: relative;
  right: 1%;
}

/* ================
/ Resume Experience
/ ================*/
.resumeExperience {
  border: 2px solid #fec501;
  border-top: none;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.experienceTitle {
  max-height: 15%;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  grid-column: 1 / 3;
  padding-top: 2%;
  padding-left: 7%;
  margin: 0;
  display: flex;
  align-items: center;
}

/* ===============
/ Resume Education
/ ===============*/
.resumeEducation {
  border-right: 2px solid #fec501;
  border-bottom: 2px solid #fec501;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.educationTitle {
  max-height: 15%;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  grid-column: 1 / 3;
  padding-top: 2%;
  padding-left: 7%;
  margin: 0;
  display: flex;
  align-items: center;
}

/* =======================
/ Recommended Jobs Section
/ =======================*/
.profileRecommendedJobs {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.recommendedJobsHeader {
  min-height: 14%;
  color: white;
  background-color: #344054;
  display: flex;
  flex-direction: column;
}

.recommendedJobsHeaderLineOne {
  height: 20%;
  width: 100%;
  font-size: 20px;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recommendedJobsHeaderLineTwo {
  width: 100%;
  font-size: 41px;
  line-height: 3rem;
  padding-top: 0.1em;
  display: flex;
  justify-content: center;
  text-align: center;
}
