/* .btn:hover {
  background-color: transparent !important;
  color: rgb(108, 117, 125) !important;
}

.btn:active,
.btn:target {
  background-color: #fb8500 !important;
  color: rgb(108, 117, 125) !important;
  border-color: transparent;
} */
