.recommendedJobsCard {
  max-height: 15%;
  border: thin solid black;
  display: flex;
  align-items: flex-start;
  padding: 3%;
}

.saveIconContainer {
  height: 40%;
  width: 15%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.saveIcon {
  height: 80%;
  width: 100%;
}

.saveText {
  height: 20%;
  position: relative;
  right: 6%;
  font-size: 16px;
  margin: 0;
}

.recommendedJobsCardText {
  font-size: 16px;
  flex: 1;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
