.universalLanding {
  min-height: 64%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.bannerContainer {
  height: 50%;
  width: 100%;
  position: relative;
}

.banner {
  /* fill up the bannerContainer entirely */
  height: 100%;
  width: 100%;
}

.bannerText {
  width: 65%;
  position: absolute;
  right: 4%;
  bottom: 4%;
  font-weight: bold;
  font-size: 49px;
  text-align: right;
  line-height: 3.5rem;
}

.universalLandingBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.universalLandingBottomText {
  height: 100%;
  width: 35%;
  padding: 1em;
  font-size: 40px;
  text-align: left;
}

.iAmAJobSeekerAndEmployerContainer {
  height: 75%;
  width: fit-content;
  display: flex;
  gap: 2%;
}

.iAmAjobSeekerImageContainer {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.imageLink {
  height: 65%;
  width: 100%;
}

.iAmAJobSeekerImage {
  height: 100%; /* fill up the imageLink container entirely */
  max-width: 100%; /*prevent image from overflowing on small screens */
}

.iAmAJobSeekerButton {
  background-color: #fec501;
  font-size: 20px;
  font-weight: bold;
  border: thin solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
