.noProfileJobSeeker {
  min-height: 64%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noProfileHeading {
  font-size: 70px;
  font-weight: light;
}

.noProfileText {
  font-size: 40px;
  font-weight: lighter;
}

.createProfileButton {
  color: white;
  background-color: #011036;
  font-size: 30px;
  border-radius: 0.3em;
  padding: 0.3em 3em;
}

.noProfileHeading,
.noProfileText {
  position: relative;
  bottom: 10%;
}
